  .form {
    margin-top: 4%;
  }
  .form label {
    display: flex;
  }
  .form button {
    margin-left: 7%;
  }
  .page {
    margin-top: 2%;
  }
  .tRow :hover{
    background-color: cornsilk;
  }
  .selectedRow{
    background-color: azure;
  }